/* color carte */
/* color header Genoa: color: #F3F3F3; and background for logo */
/* color for button "Buy now" Button dark red background: rgba(188, 26, 26, 0.2);*/

/* text Montserrat 800 700 600 500 400 300 */
/* text footer Inter 400 Roboto 400 */

:root {
  --Genoa: #f3f3f3;
  --Button-dark-red: rgba(188, 26, 26, 0.2);
}
body {
  background: #100f0f;
  color: var(--Genoa);
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

header,
.hero {
  background: linear-gradient(
    228.52deg,
    rgba(111, 102, 102, 0.9) 4.71%,
    rgba(16, 15, 15, 0.9) 39.77%,
    rgba(16, 15, 15, 0.9) 44.21%
  );
}

.conteiner {
  width: 1280px;
  padding: 0 85px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

/*=================/HEADER/====================*/

.logo {
  display: inline-flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.navigator .logo {
  margin-right: 228px;
}

.logo-link {
  width: 32px;
  margin-right: 16px;
}

.navigator,
.footer-block {
  display: flex;
  align-items: center;
}

.navigator .list {
  display: flex;
  align-items: center;
}
.navigator .link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.navigator .item:not(:last-child) {
  margin-right: 52px;
}

.btn-contact {
  margin-left: auto;

  min-width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 34px;
  padding-left: 34px;

  border: 1px solid #f3f3f3;
  border-radius: 16px;

  background: inherit;
  color: inherit;
  font-family: inherit;

  font-weight: 800;
}

.btn {
  background: var(--Button-dark-red);
  color: inherit;
}

.hero .btn {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
}

.mein-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.22;
}

.hero .title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.22;
}

.numer {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
}

/*=================/SAUCES/====================*/

.sauces {
  text-align: center;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.sauces .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.22;
}

.sauces .btn {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.2;
}
/*=================/VIDEO/====================*/

.video {
  padding-bottom: 100px;
  text-align: center;
}

.video .title {
  font-weight: inherit;
  font-size: 32px;
  line-height: 1.22;
}

/*=================/FORM/====================*/
.form {
  text-align: center;
  padding-bottom: 50px;
}

/*=================/FOOTER/====================*/

.footer-box {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Inter";
}

.footer-link {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.footer-link .logo {
  margin-right: 157px;
}

.footer-link .list {
  margin-right: 171px;
}

.footer-link .item:not(:last-child) {
  margin-bottom: 20px;
}

.adress-box .link {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 8px;
}

.link-emeil {
  margin-bottom: 45px;
}

.list-icons .item:non(:last-child) {
  margin-bottom: 16px;
}

.footer-box .text {
  margin: 0 auto;

  font-family: "Roboto";
  color: #979797;
}

.privacy {
  text-align: center;
}
.privacy .link {
  font-weight: 500;
  color: #ffffff;
}
